body{
  background-color: 	#d6e2f0;
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

main{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 2px  rgba(0, 0, 0, 0.24);
  height: 32rem;
  width: 20rem;
  margin: 65px 500px;
}

img{
  border-radius: 10px;
  width: 290px;
  position: relative;
  top: 15px;
}

h1{
  color: #1f3251;
  font-size: 23px;
  margin: 30px auto;
  width: 80%;
}

p{
  color: #7b879d;
  font-size: 15px;
  margin: 0 auto;
  width: 80%;
}
